
@{
    ViewBag.Title = "chatbot";
}

<h2>chatbot</h2>

<script type="text/javascript">(function(t,e){var r=function(t){try{var r=e.head||e.getElementsByTagName("head")[0];a=e.createElement("script");a.setAttribute("type","text/javascript");a.setAttribute("src",t);r.appendChild(a);}catch(t){}};t.CollectId = "5c05a6625c854b285067c779";r("https://collectcdn.com/launcher.js");})(window,document);</script>